/* 메인태그 > 푸터 부분 */
.field_footer {
    background-color: #69dbff;
    width: 293px;
    height: 1000px;
}

/* 푸터필드 > 프로필 부분 */
.footer_profile {
    /*background-color: #ffad62;*/
    width: 293px;
    height: 56px;
    margin: 18px 0 10px 0;
}

/* 푸터필드 > 추천 부분 */
.footer_recommend {
    background-color: #ff8484;
    width: 293px;
    height: 291px;
    margin-bottom: 12px;
}

/* 푸터필드 > 정보 부분 */
.footer_info {
    background-color: #c4c4c4;
    width: 293px;
    height: 129px;
}

/* 푸터 전체 플렉스 div */
.footer_flex {
    display: flex;
    flex-direction: column;
}

/* 푸터 프로필 플렉스 */
.footer_profile_flex {
    width: 293px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 푸터 프로필 이미지 div */
.footer_profile_image {
    width: 56px;
    height: 56px;
    margin-right: 12px;
    border-radius: 50%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_ui-TCUvXK4uPaSf1f7j7aLBe9ca7ycRv2Q&usqp=CAU");
    background-size: cover;
    background-position: center;
}

/* 푸터 프로필 내용 div */
.footer_profile_user {
    width: 199px;
    height: 30px;
    display: flex;
    flex-direction: column;
}

/* 푸터 프로필 내용 닉네임 div */
.footer_profile_user_nickname {
    width: 199px;
    height: 11px;
    font-size: 14px;
    font-weight: bold;
}

/* 푸터 프로필 내용 이름 div */
.footer_profile_user_name {
    width: 199px;
    height: 11px;
    font-size: 14px;
    margin-top: 8px;
    /*color: #8e8e8e;*/
}

/* 푸터 프로필 전환 버튼 div */
.footer_profile_user_change {
    width: 24px;
    height: 11px;
    margin-left: 8px;
    color: #0095f6;
    font-weight: bold;
    font-size: 11px;
}

/* 푸터 추천 추천 상단 div */
.footer_recommend_top {
    width: 293px;
    height: 19px;
    margin-top: 12px;
    padding: 4px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #62ffc6;
}

/* 푸터 추천 상단 소개 div */
.footer_recommend_top_intro {
    width: 221px;
    height: 11px;
    /*background-color: azure;*/
    color: #8e8e8e;
    font-size: 14px;
    font-weight: bold;
}

/* 푸터 추천 상단 보기 div */
.footer_recommend_top_view {
    width: 71px;
    height: 11px;
    /*background-color: gold;*/
    font-size: 13px;
    font-weight: bold;
}

/* 푸터 추천 중단*/