/* 스토리카드 상위 플렉스 div */
/* 좌측에 프로필, 우측에 옵션을 정렬하는 플렉스 */
.storycards_top_flex {
    width: 566px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

/* 스토리카드 프로필 div */
/* 요소 정렬을 위한 플렉스, 패딩 속성 */
.storycards_top_profile {
    background-color: #66c8e7;
    width: 566px;
    height: 70px;
    padding: 14px 4px 14px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}