/* 스토리카드 상위 플렉스 div */
/* 좌측에 프로필, 우측에 옵션을 정렬하는 플렉스 */
.storycards_top_flex {
    /*background-color: black;*/
    width: 614px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 스토리카드 프로필 div */
/* 요소 정렬을 위한 플렉스, 패딩 속성 */
.storycards_top_profile {
    /*background-color: #66c8e7;*/
    width: 566px;
    height: 70px;
    padding: 14px 4px 14px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

/* 스토리카드 옵션 div */
.storycards_top_option {
    /*background-color: #ffad62;*/
    width: 48px;
    height: 40px;
    padding-right: 8px;
    box-sizing: border-box;
    position: relative;
    margin: 15px 0 15px 0;
}

/* 스토리카드 이미지 div */
.storycards_top_profile_image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* 스토리카드 프로필 네임 div */
.storycards_top_profile_name {
    /*background-color: #15993a;*/
    width: 500px;
    height: 42px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

/* 스토리카드 프로필 닉네임 div */
.storycards_top_profile_name_nickname {
    font-size: 12px;
    font-weight: bold;
}

/* 스토리카드 프로필 위치 div */
.storycards_top_profile_name_location {
    margin-top: 1px;
    font-size: 12px;
}

/* 스토리카드 더보기 아이콘 */
.s24 {
    font-size: 24px;
}
.storycards_top_option {
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/**/
/* 스토리카드 미들 파트 */
/**/


/* 스토리카드 미들 캐러셀 div */
.storycards_middle_carousel {
    width: 614px;
    height: 767.5px;
}
.storycards_middle_carousel_image {
    background-color: white;
    width: 614px;
    height: 767.5px;
}