/* 스토리카드 상위 플렉스 div */
/* 좌측에 프로필, 우측에 옵션을 정렬하는 플렉스 */
.storycards_top_flex {
    /*background-color: black;*/
    width: 614px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 스토리카드 프로필 div */
/* 요소 정렬을 위한 플렉스, 패딩 속성 */
.storycards_top_profile {
    /*background-color: #66c8e7;*/
    width: 566px;
    height: 70px;
    padding: 14px 4px 14px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

/* 스토리카드 옵션 div */
.storycards_top_option {
    /*background-color: #ffad62;*/
    width: 48px;
    height: 40px;
    padding-right: 8px;
    box-sizing: border-box;
    position: relative;
    margin: 15px 0 15px 0;
}

/* 스토리카드 이미지 div */
.storycards_top_profile_image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* 스토리카드 프로필 네임 div */
.storycards_top_profile_name {
    /*background-color: #15993a;*/
    width: 500px;
    height: 42px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

/* 스토리카드 프로필 닉네임 div */
.storycards_top_profile_name_nickname {
    font-size: 12px;
    font-weight: bold;
}

/* 스토리카드 프로필 위치 div */
.storycards_top_profile_name_location {
    margin-top: 1px;
    font-size: 12px;
}

/* 스토리카드 더보기 아이콘 */
.s24 {
    font-size: 24px;
}

.storycards_top_option {
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/**/
/* 스토리카드 미들 파트 */
/**/


/* 스토리카드 미들 캐러셀 div */
.storycards_middle_carousel {
    width: 614px;
    height: 767.5px;
}

.storycards_middle_carousel_image {

    width: 614px;
    height: 767.5px;
    background-image: url("https://i.ytimg.com/vi/jXfglu23oOs/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* 스토리카드 미들 넘기기 버튼 div */
.storycards_middle_next {
    width: 46px;
    height: 62px;
    padding: 16px 8px;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*    강제 위치조정 */
    position: absolute;
    top: 335px;
    right: 0;
    color: #dbdbdb;
}

/* 스토리카드 미들 되돌리기 버튼 div */
.storycards_middle_prev {
    width: 46px;
    height: 62px;
    padding: 16px 8px;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*    강제 위치조정 */
    position: absolute;
    top: 335px;
    left: 0;
    color: #dbdbdb;
}

/* 스토리카드 넘기기, 되돌리기 아이콘 공통 속성 */
.btn_next, .btn_prev {
    font-size: 30px;
}

/* 스토리카드 뮤트 아이콘 div */
.storycards_middle_muteicon {
    width: 44px;
    height: 44px;
    margin: 0 16px 16px 0;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* 스토리카드 태그 유저 아이콘 div */
.storycards_middle_taguser {
    width: 44px;
    height: 44px;
    margin: 0 0 16px 16px;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* 뮤트아이콘, 태그유저 크기 */
.s28 {
    font-size: 28px;
}

/* 스토리카드 하단 아이콘즈 부분 div */
.storycards_bottom_icons {
    width: 614px;
    height: 54px;
    box-sizing: border-box;
    /*background-color: #69dbff;*/
    padding: 7px 16px;
}

/* 스토리카드 하단 아이콘즈 flex div */
.storycards_bottom_icons_flex {
    width: 582px;
    height: 40px;
    display: flex;
    flex-direction: row;
    /*background-color: #8e8e8e;*/
}

/* 스토리카드 하단 아이콘즈 left div */
.storycards_bottom_icons_left {
    width: 120px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

/* 스토리카드 하단 아이콘즈 left 아이콘 일괄 div */
.storycards_bottom_icons_left_heart, .storycards_bottom_icons_left_comment, .storycards_bottom_icons_left_explore {
    width: 40px;
    height: 40px;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 스토리카드 하단 아이콘즈 middle div */
.storycards_bottom_icons_middle {
    width: 422px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

/* 스토리카드 하단 아이콘즈 스테이터스 div */
.storycards_bottom_icons_middle_status {
    width: 422px;
    height: 6px;
    margin-top: 16px;
    margin-left: 140px;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* 스테이터스 아이콘 크기 및 여백 */
.s6 {
    font-size: 6px;
    margin-right: 6px;
}

/* 스테이터스 하단 아이콘즈 right div */
.storycards_bottom_icons_right {
    width: 40px;
    height: 40px;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
